
{% extends 'base.html' %}

{% block title %} Anasayfa - {{ block.super }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!--<div class="row" style="margin-bottom: 30px">-->
            <!--&lt;!&ndash;col-md= bilgisayarlar col-sm= tabletler col-xs= telefonlar&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-8 col-sm-10 col-xs-6" style="background-color: red">1. sütun</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4 col-sm-2 col-xs-6" style="background-color: blue">2. sutün</div>&ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 " style="background-color: red; height: 100px">1. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2. sutün</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: green; height: 100px">3. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: yellow; height: 100px">4. sutün</div>-->
        <!--</div>-->

        <!--<div class="row" style="margin-bottom: 30px">-->
            <!--&lt;!&ndash;col-md= bilgisayarlar col-sm= tabletler col-xs= telefonlar&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-8 col-sm-10 col-xs-6" style="background-color: red">1. sütun</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4 col-sm-2 col-xs-6" style="background-color: blue">2. sutün</div>&ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 " style="background-color: red; height: 100px">1. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2. sutün</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: green; height: 100px">3. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: yellow; height: 100px">4. sutün</div>-->
        <!--</div>-->

        <!--<div class="row" style="margin-bottom: 30px">-->
            <!--&lt;!&ndash;col-md= bilgisayarlar col-sm= tabletler col-xs= telefonlar&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-8 col-sm-10 col-xs-6" style="background-color: red">1. sütun</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4 col-sm-2 col-xs-6" style="background-color: blue">2. sutün</div>&ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 " style="background-color: red; height: 100px">1. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2. sutün</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: green; height: 100px">3. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: yellow; height: 100px">4. sutün</div>-->
        <!--</div>-->

        <!--<div class="row" style="margin-bottom: 30px">-->
            <!--&lt;!&ndash;col-md= bilgisayarlar col-sm= tabletler col-xs= telefonlar&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-8 col-sm-10 col-xs-6" style="background-color: red">1. sütun</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-md-4 col-sm-2 col-xs-6" style="background-color: blue">2. sutün</div>&ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6 " style="background-color: red; height: 100px">1. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2. sutün</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: green; height: 100px">3. sütun</div>-->
            <!--<div class="col-md-3 col-sm-6" style="background-color: yellow; height: 100px">4. sutün</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-4" style="background-color: red; height: 100px;"></div>
            <div class="col-md-8" style="background-color: blue; height: 100px;">
                <div class="row">
                    <div class="col-md-2" style="background-color: green; height: 100px;"></div>
                    <div class="col-md-6" style="background-color: yellow; height: 100px;"></div>
                    <div class="col-md-4" style="background-color: orange; height: 100px;"></div>
                </div>
            </div>
        </div>
        Hoşgeldiniz, {{ request.user.get_full_name }}
    </div>

{% endblock %}

